  .container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinea los elementos al inicio */
    align-items: center;
    height: 100vh;
    text-align: center;
    margin-top: -50px;
  }

  h1 {
    font-size: 27px;
    color: #000;
    margin-bottom: 40px;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .btn {
    background-color: #113946;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #BCA37F;
  }
  
  .logo-container {
    margin-bottom: 30px; /* Space between the logo and the title */
}

.logo-wrapper {
    width: 200px; /* Adjust as needed */
    height: 200px;
    border-radius: 50%; /* Makes it circular */
    border: 3px solid #BCA37F; /* Border color */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Matches the background of the logo */
}

.logo {
    width: 150px; /* Logo size */
    height: 150px;
    object-fit: contain; /* Ensures proper fitting */
}