  .container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinea los elementos al inicio */
    align-items: center;
    height: 100vh;
    text-align: center;
    margin-top: -50px;
  }

  h1 {
    font-size: 27px;
    color: #000;
    margin-bottom: 40px;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .btn {
    background-color: #113946;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #BCA37F;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; /* Espaciado entre el logo y el título */
}

.logo {
    width: 200px; /* Tamaño del logo */
    height: 200px; /* Asegura la proporción */
    border-radius: 50%; /* Hace el logo circular */
    object-fit: cover; /* Asegura que la imagen se ajuste */
    border: 3px solid #BCA37F; /* Opcional: borde decorativo */
}